@import "../../global/css/general.css";

.contenedor {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 4px 4px 1px #18363d33;
    height: auto;
    width: auto;
}

.buscador {
    background-color: #5b2a67;
    padding: 10px 10px 10px 30px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buscador>input.form-control::focus {
    outline: none !important;
    background-color: #3d1746 !important;
}

.buscador button.cliente {
    background-color: #3d1746;
    border-color: #3d1746;
}

.campania {
    box-shadow: 0 4px 4px 1px #18363d33;
}

.campania button.botonlindo {
    text-align: center;
    background-color: transparent;
    border: none;
}