@import "../../global/css/general.css";

.buscador {
    background-color: #5b2a67;
}

.buscador>input::placeholder {
    color: white;
}

.buscador>input.form-control:focus {
    outline: none !important;
    background-color: #3d1746 !important;
}

.buscador button.lupa {
    width: 50px;
    background-color: #3d1746;
    border-color: #3d1746;
}

.buscador button.cliente {
    background-color: #3d1746;
    border-color: #3d1746;
}

.cliente {
    box-shadow: 0 4px 4px 1px #18363d33;
}

.cliente button.botonlindo {
    text-align: center;
    background-color: transparent;
    border: none;
}