<FilesMatch \.html$>
    Require all denied
</FilesMatch>

Options -Indexes

RewriteEngine on

RewriteRule ^src/.* - [END]

RewriteRule ^node_modules/.* - [END]

RewriteRule ^api/.* api.php [END]

RewriteRule .* index.php [END]